  html{
    background-image: url('../images/grid_noise.png');
  }

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
  }

.header {
  height: 180px;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
  margin-bottom: 10px;
}

.intro {
  font-size: 28px;
}