@import url(http://fonts.googleapis.com/css?family=Iceland);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; 
}
.footer, .push {
  height: 142px; 
}
.footer{
  border-top: 1px #ccc solid;
}

.header {
  
  height: 70px;
  background-color: white;
  border-bottom: 1px #ccc solid;
}

.header h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 50px;
  line-height: 60px;
}

.header h1 .krash {
  color: green;
}

.sidebar{
  background-color: white;
  min-height: 550px;
  display: block;
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
}

.sidebar h3, 
.sidebar p{
  margin: 30px 30px 30px 10px;
  font-family: 'Oxygen', sans-serif;
}

.sidebar h3{
  font-size: 25px;
}

.sidebar p{
  font-size: 16px;
}

.sidebar a{
  margin: 30px 30px 30px 10px;
  font-family: 'Oxygen', sans-serif;
  color: green;
  font-size: 16px;
  text-decoration: underline;
}

.sidebar a:hover{
  color: black;
}

.meat{
  border-right: 1px #ccc solid;
}
