<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Komran Rashidov</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- 1140px Grid styles for IE -->
  <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

  <!-- The 1140px Grid - http://cssgrid.net/ -->
  <link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
  
  <!-- Your styles -->
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/syntax.css" type="text/css"  />
  
  <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
  <script type="text/javascript" src="js/css3-mediaqueries.js"></script>
  
  <link rel="icon" href="img/favicon.gif" type="image/gif"/>
  <link rel="apple-touch-icon-precomposed" href="img/appletouchicon.png"/>
    
  <meta name="description" content="A 1140px wide, 12 column grid. Fluid all the way down to a mobile version." />
  
  <meta name="keywords" content="Komran Rashidov developer Boulder colorado " />

</head>


<body>

<div class="container header">
  <div class="row">
    <div class="fourcol logo"><h1><span class = "krash">krash</span>idov.com</h1></div>
  </div> <!--/row-->
</div> <!--/container-->

<div class="container intro">
  <div class="row meat">
  
    <div class="fourcol sidebar">
      <h3>about me</h3>
      
    </div> <!--/fourcol-->
    
    <div class="sevencol last intro">
      <p>I'm Komran Rashidov. I currently reside in Boulder, CO.</p>
    </div>
  </div>
</div> <!--/container-->

<div class="container details">
  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5104693-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>

</html>