<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Komran Rashidov</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <!-- 1140px Grid styles for IE -->
  <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

  <!-- The 1140px Grid - http://cssgrid.net/ -->
  
  <!-- Your styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/flatui.css" type="text/css"  />
  <link rel="stylesheet" href="css/overrides.css" type="text/css"  />
  
  <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
  
  <link rel="icon" href="img/favicon.gif" type="image/gif"/>
  <link rel="apple-touch-icon-precomposed" href="img/appletouchicon.png"/>
    
  <meta name="description" content="Personal website of Komran Rashidov" />
  
  <meta name="keywords" content="Komran Rashidov developer Boulder colorado " />

</head>


<body>
  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-8 col-xs-12"><h1>krashidov.com</h1>
      </div>
    </div>
    
    <div class="row"> 
      <div class="col-lg-3 col-md-3 well opaque">
        <h3>about me</h3>
        <div class="circle">
        </div>  
        <p>I'm Komran Rashidov. I currently reside in Boulder, CO.</p>
        <p>I'm a Computer Science major at the University of Colorado at Boulder</p>
          <ul class="nav nav-pills nav-stacked nav-light">
            <li><a href="www.linkedin.com/in/komranrashidov‎">Learn more about me</a></li>
            <li><a href="http://facebook.com/koma21">Facebook</a></li>
            <li><a href="mailto:komran.rashidov@colorado.edu">Email</a></li>
            <li><a href="http://github.com/krashidov">Github</a></li>
            <li><a href="#" onClick="alert('Email me to request a resume')">Resume</a></li>
          </ul>
      </div>  
    </div>  
      
  </div>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5104693-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="//code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>


</html>
